# fastapi[all]
pillow
SQLAlchemy
fastapi-utils
gunicorn
loguru
aiomysql
fastapi-mail
sqladmin
opencv-python
aiofiles
cryptography
elasticsearch==8.5.2
python-multipart==0.0.5
python-jose==3.3.0
passlib
asyncinit
itsdangerous